*.htm
*.v2
*.editorconfig
*.cache
*.BuildWithSkipAnalyzers
*.dll
*.sentinel
*.pdb
*.targets
*.vsidx
*.v1
*.user
*.msi
*.tmp
*.exe
*.aip
*.aiproj
*.cab



User Interface/Projet File Rouge/bin/
User Interface/Projet File Rouge/obj/
User Interface/Program Installer/Release/
User Interface/.vs/Projet File Rouge/v17/
User Interface/.vs/Projet File Rouge/FileContentIndex/

API/Red Wire API/.vs/Red Wire API/v17/
API/Red Wire API/bin/
API/Red Wire API/obj/
API/Red Wire API/packages/
API/Red Wire API/Properties/PublishProfiles/
