<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<add key="http" value="http://192.168.1.79:" />
		
		<add key="port" value="8086/api/"/>
		<add key="urgent" value="False"/>
		<add key="patch_note" value="- Correction de bugs divers.&#13;&#10;- Suppression possible des document EBP et FTP dans le suivi dossier.&#13;&#10;- Autorisation d'insertion devis dans Nouveau Dossier à la place de la facture initiale.&#13;&#10;"/>
		
		<add key="ftp_host" value="RGDEPANNAGE.synology.me"/>
		<add key="ftp_port" value="1021"/>
		<add key="ftp_folder" value="dossier partage techs/Fil Rouge Fichiers FTP/"/>

		<add key="pathSaveBdd" value="dossier partage techs/Fil Rouge Sauvegarde BDD/"/>
	</appSettings>
</configuration>